.modal {
  background-color: var(--background-color);
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  position: absolute;
  right: 60px;
  top: 80px;
  box-shadow: 1px 5px 20px 1px gray;
  padding-top: 10px;
}
.modal > p {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin: 5px;
}
.modal > span {
  font-size: 12px;
  text-align: center;
  background-color: rgb(244, 241, 241);
  color: black;
  margin-top: 10px;
}
.modal__icon {
  width: 10px;
  margin-left: 35px;
  cursor: pointer;
}

.modal__bg {
  background-color: white;
}
